body {
    text-align: center;
    box-sizing: border-box;
    position: relative;
}
h1 {
    color: blue;
}

img {
    padding-left: auto;
    padding-right: auto;
}

.form {
    position: relative;
}

.wrapper{
    position: relative;
}

input {
    width: 70%;
}
canvas {
    margin-top:20px; 
    border: 1px solid #000000;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

label {
    font-weight: bold;
    position: static;
    text-align: left;
}

.line-graph-canvas-input {
    display: block;
    width: 10%;
    margin-left: auto;
    margin-right: auto;
}

.button{
    border: 1px solid #000000;
    padding: 5px 5px;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    background-color: buttonface;
    color: #080707;
    margin-top: 10px;
    margin-bottom: 10px;
    font-weight: 700;
}
table, th, td {
    border: 1px solid black;

}
th {padding: 15px}
td {padding: 5px;}
table {
    border-spacing: 0px;
}